@font-face {
    font-family: 'WaxWing';
    src: url('waxwing.ttf') format('truetype');
}

* {
    font-family: 'WaxWing', sans-serif;
    font-weight: normal;
}

html {
    overflow-y: scroll;
    background-color: #BAECF4;
}

body {
    background-color: #ECFFFC;
    width: 100%;
    max-width: 816px;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 2rem;
}

small {
    color: gray;
}

img {
    max-width: 40%;
}


li {
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
}

ul {
    padding-left: 1.5rem;
}

a {
    color: magenta;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: magenta;
}

a:active {
    color: red;
}

.audio-player {
    width: 100%;
}

.album-art {
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.track {
    color: gray;
}

.track:hover {
    color: black;
    cursor: pointer;
}

.currently-playing {
    color: black;
    text-decoration: underline;
}


@media (max-width: 816px) {
    img {
        max-width: 50%;
    }

    body {
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 3rem;
        margin: 0;
        min-height: 100vh;
        border: none;
    }

    .container {
        grid-template-columns: 1fr;
    }
}