* {
    font-family: WaxWing, sans-serif;
    font-weight: 400;
    margin: 0
}

.spacer-sm {
    height: .5rem
}

.spacer-md {
    height: 1rem
}

body,
img {
    width: 100%
}

img {
    object-fit: cover;
    object-position: center;
}

body {
    background-color: white;
    max-width: 816px;
    margin: 1.5rem auto 5rem;
    box-sizing: border-box;
    padding: 2rem
}

small {
    color: gray
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

a:active {
    color: red
}

@font-face {
    font-family: WaxWing;
    src: url('waxwing.ttf') format('truetype')
}

h1 {
    font-size: 1.5em
}

h2 {
    font-size: 1.17em
}

html {
    overflow-y: scroll
}

li {
    margin-bottom: .5rem;
    padding-left: .5rem
}

ul {
    padding-left: 1.5rem
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem
}

#imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px
}

@media (max-width:816px) {
    #imageGrid {
        grid-template-columns: repeat(2, 1fr)
    }

    body {
        padding: 1rem 1rem 2rem;
        margin: 0;
        min-height: 100vh;
        border: none
    }

    .container {
        grid-template-columns: 1fr
    }
}